# Birth Names Data

In [1]:
# Import Dependencies
import pandas as pd
import glob

In [2]:
#Import csv files

# Use glob module to include all csv files together
all_files = glob.glob('Resources/*.csv')

# Create and empty list to append to 
li = []

# Write a for loop to import all csv files, include headers
for filename in all_files:
    df = pd.read_csv(filename, index_col=None, header=None, names = ['State','Sex', 'Year','Name', 'Number'])
    li.append(df)
    
# Concatenate all csv files 
names_df = pd.concat(li, axis=0, ignore_index=True)

In [3]:
names_df

        State Sex  Year      Name  Number
0          AK   F  1910      Mary      14
1          AK   F  1910     Annie      12
2          AK   F  1910      Anna      10
3          AK   F  1910  Margaret       8
4          AK   F  1910     Helen       7
...       ...  ..   ...       ...     ...
6028146    WY   M  2018    Peyton       5
6028147    WY   M  2018   Richard       5
6028148    WY   M  2018     Titus       5
6028149    WY   M  2018   Tristan       5
6028150    WY   M  2018    Zander       5

[6028151 rows x 5 columns]